@model WebApp.DTO.ParkingLotDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @Html.DisplayFor(model => model.name)
</h1>

<div>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-6 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img src="https://upload.wikimedia.org/wikipedia/commons/8/85/Metro_do_Porto_-_Matosinhos_-_Rua_Brito_Capelo_%288253809282%29.jpg" class="img-lot" alt="User-Profile-Image"> </div>
                                    <br>
                                    <h6 class="f-w-600">@Html.DisplayFor(model => model.name)</h6>
                                    @*<div class="user-dashboard-buttons"><a class="reservation-about-btn no-margin-left" asp-area="" asp-controller="Users" asp-action="edit" asp-route-id="">Edit Profile</a></div>*@
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="card-block">
                                    <h4 class="m-b-20 p-b-5 b-b-default f-w-600">Park Details</h4>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Owner</p>
                                            <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.owner)</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Location</p>
                                            <h6 class="text-muted f-w-400">@Html.DisplayFor(model => model.location)</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Capacity</p>
                                            <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.capacity)</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Opening time</p>
                                            <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.openingTime)</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Closing Time</p>
                                            <h6 class="text-muted f-w-400"> @Html.DisplayFor(model => model.closingTime)</h6>
                                        </div>
                                        <div id="p-spots" class="btn btn-primary" style="width: 33%; margin-left:16.5em; margin-bottom:0.5em;">
                                            @Html.ActionLink("Parking Spots", "ManagerSpots", "ParkingSpots", new { id = Model.parkingLotID })
                                        </div>
                                        <div id="free-ps" class="btn btn-secondary" style="width: 33%; margin-left:16.5em; margin-bottom:1em;">
                                            @Html.ActionLink("Free Parking Spots", "Free", "ParkingSpots", new { id = Model.parkingLotID })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="back-park-button">
    @Html.ActionLink("Back to List", "Index")
</div>