@model WebApp.DTO.ParkingLotDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Parking Lot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.parkingLotID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingLotID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.openingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.openingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.closingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.closingTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.myURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.myURL)
        </dd>
        <dd class="col-sm-2">
            <a class="nav-link text-dark" asp-area="" asp-controller="ParkingSpots" asp-action="Index">ParkingSpots</a>
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
