@model IEnumerable<WebApp.DTO.UserDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Registered Users</h1>

@using (Html.BeginForm())
{
    <p>
        Find by name or NIF: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th style="text-align:center;">
                @Html.ActionLink("NIF", "Index", new { sortOrder = ViewBag.NifSortParm })
            </th>
            <th style="text-align:right;">
                @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-hover">
                <td class="pointer" onclick="location.href ='@Url.Action("Details", new {id = item.userID})'">
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.nif)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.email)
                </td>
            </tr>
        }
    </tbody>
</table>

<p style="text-align:left;">
    <a style="color:darkblue; font-size:18px" asp-action="Create">New User</a>
</p>