@model WebApp.DTO.ReservationDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    @if (Model.isCancelled == false)
    {
        <div>
            <form method="post" asp-action="Cancel" asp-route-id="@Model.centralReservationID">
                <span id="confirmCancel_@Model.centralReservationID" style="display:none">
                    <span>Are you sure you want to cancel your reservation?</span>
                    <br />
                    <button type="submit" class="btn btn-primary">Yes</button>
                    <a href="#" class="btn btn-danger" onclick="confirmCancel('@Model.centralReservationID', false)">No</a>
                </span>
                <span id="cancelReservation_@Model.centralReservationID">
                    <a href="#" class="btn btn-danger" onclick="confirmCancel('@Model.centralReservationID', true)">
                        Cancel Reservation
                    </a>

                </span>
            </form>
        </div>
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.centralReservationID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.centralReservationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.parkingLotID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingLotID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isCancelled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isCancelled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.forSublet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.forSublet)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.hours)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.hours)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.finalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.finalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.parkingSpotID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingSpotID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
    </dl>
</div>
<div>
    
    @*@Html.ActionLink("Cancel", "Edit", new { id = Model.centralReservationID }) |*@
    @Html.ActionLink("Back to List", "UserIndex", "Reservations",new { id = Model.userID })
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
 }