@model WebApp.DTO.ReservationDTO

@{
    ViewData["Title"] = "Details";
}

<h1>My Reservation Details</h1>

<div>
    <hr />
   
    <dl class="row">
        <dt class="col-sm-2">
            Parking Lot Name:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingLotID)
        </dd>
        <dt class="col-sm-2">
            Parking Spot:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingSpotID)
        </dd>
        <dt class="col-sm-2">
            Starting Time:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class="col-sm-2">
            Ending Time:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt class="col-sm-2">
            Cost:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.finalPrice)
        </dd>
        @if (Model.isCancelled == false)
        {
            <div class="row-cancel-sublet">
                <form method="post" asp-action="Cancel" asp-route-id="@Model.centralReservationID">
                    <span id="confirmCancel_@Model.centralReservationID" style="display:none">
                        <span>Are you sure you want to cancel your reservation?</span>
                        <br />
                        <button id="confirmCancel" type="submit" class="btn btn-primary">Yes</button>
                        <a href="#" class="btn btn-danger" onclick="confirmCancel('@Model.centralReservationID', false)">No</a>
                    </span>
                    <span id="cancelReservation_@Model.centralReservationID">
                        <a id="cancelReservation" href="#" class="btn btn-danger" onclick="confirmCancel('@Model.centralReservationID', true)">
                            Cancel Reservation
                        </a>
                    </span>
                </form>
                <br />
                <br />
                @if (Model.forSublet == false)
                {
                    <form method="post" asp-action="PutForSublet" asp-route-id="@Model.centralReservationID">
                        <span id="confirmSublet_@Model.centralReservationID" style="display:none">
                            <span>Are you sure you want to Sublet your reservation?</span>
                            <br />
                            <button type="submit" class="btn btn-primary">Yes</button>
                            <a href="#" class="btn btn-danger" onclick="confirmSublet('@Model.centralReservationID', false)">No</a>
                        </span>
                        <span id="subletReservation_@Model.centralReservationID">
                            <a href="#" class="btn btn-danger" onclick="confirmSublet('@Model.centralReservationID', true)">
                                Sublet Reservation
                            </a>
                        </span>
                    </form>

                }
            </div>
        }

    </dl>
</div>
<div class="back-button">
    
    @*@Html.ActionLink("Cancel", "Edit", new { id = Model.centralReservationID }) |*@
    @Html.ActionLink("Back to Reservations", "Index", "Reservations")
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
 }