@model WebApp.DTO.ReservationDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReservationDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.centralReservationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.centralReservationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parkingLotID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parkingLotID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isCancelled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isCancelled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.forSublet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.forSublet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.finalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.finalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.parkingSpotID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.parkingSpotID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.userID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.userID)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.centralReservationID }) |
    @Html.ActionLink("Back to List", "Index")
</div>
