@model IEnumerable<WebApp.DTO.ReservationDTO>

@{
    ViewData["Title"] = "UserIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Reservation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="UserIndex" asp-route-sortOrder="@ViewData["ReservationID"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Reservation</a>
            </th>
            <th>
                <a asp-action="UserIndex" asp-route-sortOrder="@ViewData["ParkingSpotID"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Parking Spot</a>
            </th>
            <th>
                <a asp-action="UserIndex" asp-route-sortOrder="@ViewData["ParkingLotID"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Parking Lot</a>
            </th>
            <th>
                <a asp-action="UserIndex" asp-route-sortOrder="@ViewData["StartTime"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
            </th>
            <th style="text-align:right;">
                <a asp-action="UserIndex" asp-route-sortOrder="@ViewData["EndTime"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">End Time</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style='background-color: @(item.isCancelled == false ? "white": "grey")'; class="table-hover">
                <td onclick="location.href ='@Url.Action("Details", new {id = item.centralReservationID})'">
                    @Html.DisplayFor(modelItem => item.centralReservationID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parkingSpotID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.parkingLotID)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.endTime)
                </td>
            </tr>
        }
    </tbody>
     @Html.ActionLink("Back to User", "Index", "Users" , new { id = ViewData["userID"] })
</table>