@model IEnumerable<WebApp.DTO.ParkingLotDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Parking Lot List</h1>
<form autocomplete="off" class="search1" id="search-form">
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        <div class="search__wrapper" autocomplete="off" onfocus="this.value=''" >
            @Html.TextBox("SearchString", "", new { @class = "search__field", onfocus = "this.value=''", value = "Search.." })
            <button type="submit" class="fa fa-search search__icon" autocomplete="off"></button>
        </div>
    </form>
    @using (Html.BeginForm()) {
    }


    <div class="page-content">
        @foreach (var item in Model) {
            <div class="card-content">
                <img src="@Html.DisplayFor(modelItem => item.imageURL)" class="card-img-top" alt="...">
                <div class="card-body-content">
                    <h2 class="centered">@Html.DisplayFor(modelItem => item.name)</h2>
                    <p class="centered2">@Html.DisplayFor(modelItem => item.location)</p>
                    <div id="buttons" class="card-body-buttons">
                        <div class="parking-lot-reservation-card-buttons"><a id="btn-now" class="reservation-about-btn" asp-area="" asp-controller="MakeReservation" asp-action="Now" asp-route-id="@item.parkingLotID">BOOK NOW</a></div>
                        <div class="parking-lot-reservation-card-buttons"><a id="btn-later" class="reservation-about-btn" asp-area="" asp-controller="MakeReservation" asp-action="Later" asp-route-id="@item.parkingLotID">BOOK FOR LATER</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
