@model IEnumerable<WebApp.DTO.ParkingLotDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parking Lot List</h1>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchStringReservation", "Search a Parking Lot by Name or Location")
        <input type="submit" value="Search" />
    </p>
}

<div class="row">
    @foreach (var item in Model)
    {
        @*<div class="parking-lot-reservation-card">
                <p>Parking Lot Name: @Html.DisplayFor(modelItem => item.name)</p>
                <p>Location: @Html.DisplayFor(modelItem => item.location)</p>
                <div class="parking-lot-reservation-card-buttons">
                    <p>@Html.ActionLink("Now", "Now", new { id = item.parkingLotID })</p>
                    <p>@Html.ActionLink("Later", "Later", new { id = item.parkingLotID })</p>
                </div>
            </div>*@

        <div class="col-sm-6">


            <div class="card mb-3 card text-center">
                <img src="@Html.DisplayFor(modelItem => item.imageURL)" class="card-img-top" alt="...">
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.name)</p>
                    <p>@Html.DisplayFor(modelItem => item.location)</p>
                    
                        <div class="parking-lot-reservation-card-buttons"><a class="reservation-about-btn" asp-area="" asp-controller="MakeReservation" asp-action="Now">NOW</a></div>
                        <div class="parking-lot-reservation-card-buttons"><a class="reservation-about-btn" asp-area="" asp-controller="MakeReservation" asp-action="Later">LATER</a></div>
                    </div>
                </div>
            </div>


        
    }
</div>


