@model WebApp.DTO.ReservationDTO

@{
    ViewData["Title"] = "ReserveNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your New Reservation</h1>

<hr />
<div class="row">
  <div class="col-md-4">
        <form asp-action="Confirm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.parkingLotID)
            @Html.HiddenFor(model => model.parkingSpotID)
            @Html.DisplayFor(model =>model.startTime)
            @Html.HiddenFor(model =>model.startTime)
            <div class="form-group">
                <label asp-for="endTime" class="control-label"></label>
                <input asp-for="endTime" class="form-control" />
                <span asp-validation-for="endTime" class="text-danger"></span>
            </div>
            @Html.HiddenFor(model => model.userID)
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to Parking Lot", "Now", "MakeReservation", new { id = Model.parkingLotID})
</div>

