@model WebApp.DTO.ParkingSpotDTO

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<h4>Parking Spot @ViewData["parkingSpotId"]</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <p>Designation</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.parkingSpotID)
        </dd>
        <dt class="col-sm-2">
            <p>Floor</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.floor)
        </dd>
        <dt class="col-sm-2">
            <p>Covered</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isCovered)
        </dd>
        <dt class="col-sm-2">
            <p>Private</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isPrivate)
        </dd>
        <dt class="col-sm-2">
            <p>Price/hour</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.priceHour)
        </dd>
        <dd class="col-sm-10">
            <p><strong>@ViewBag.parkLotName</strong></p>
        </dd>
    </dl>
</div>

<div>
    @Html.ActionLink("Reserve Now", "ReserveNow", "MakeReservation", new { id = Model.parkingLotID, pSpotId = Model.parkingSpotID })|
    @Html.ActionLink("Edit Parking Spot", "Edit", "ParkingSpots", new { id = Model.parkingLotID, pSpotId = Model.parkingSpotID })|
    @Html.ActionLink("Back to List", "Free", new { id = Model.parkingLotID })
</div>