@model WebApp.DTO.ParkingSpotDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Parking Spot </h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.parkingSpotID)</label>
                <p><strong><asp:TextBox ReadOnly="True">@ViewData["parkingSpotId"]</asp:TextBox></strong></p>
            </div>
            <div class="form-group">
                <label asp-for="priceHour" class="control-label"></label>
                <input asp-for="priceHour" class="form-control" type="text" />
                <span asp-validation-for="priceHour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="floor" class="control-label"></label>
                <input asp-for="floor" class="form-control" />
                <span asp-validation-for="floor" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPrivate" /> @Html.DisplayNameFor(model => model.isPrivate)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isCovered" /> @Html.DisplayNameFor(model => model.isCovered)
                </label>
            </div>
            <div class="form-group">
                <p><strong>@ViewBag.parkLotName</strong></p>
                <p  type="hidden" class="hidden readonly">@Html.DisplayFor(model => model.parkingLotID)</p>
                
                <p asp:HiddenField type="hidden" style="visibility: hidden;" class="hidden readonly">@Html.TextBox("ParkingLotID", ViewData["parkingLotId"], new { @readonly = "readonly" })</p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<td>
    @Html.ActionLink("Back to List", "Index", "ParkingSpots", new { id = ViewData["parkingLotId"] })
</td>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
