@model IEnumerable<WebApp.DTO.ParkingSpotDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.parkLotName</h2>
<h3>Free Parking Spots</h3>
<br>

<div class="table-manage-spots">
    <table class="table" style="width:50%">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.parkingSpotID)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.priceHour)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="table-hover">
                    <td class="tablehover pointer" onclick="location.href = '@Url.Action("Details", new { id = ViewData["parkingLotId"], pSpotId=item.parkingSpotID })'">
                        @Html.DisplayFor(modelItem => item.parkingSpotID)
                    </td>
                    <td>
                        €@Html.DisplayFor(modelItem => item.priceHour)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="back-park-button">
        @Html.ActionLink("Back to Parking Lot", "Details", "ParkingLots", new { id = ViewData["parkingLotId"] })
    </div>

</div>
